[
	{ rabbit, [
		{ loopback_users, [ "guest" ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ default_pass,<<"guest">> },
		{ default_user, <<"guest">> },
		{ default_vhost, <<"/">> },
		{ hipe_compile, false }
	] },
	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] } ] }
].
